.post {
	margin: auto;
	width: 95%;
	background-color: white;
	color: #262626;
	max-width: 400px;
	margin: 20px 0;
}

.post__nav {
	display: flex;
	align-items: center;
	width: calc(100% - 20px);
	padding: 10px 10px 10px 10px;
	background-color: white;
}

.post__nav > .MuiButton-root {
	margin-left: auto;
}

.post__nav > .MuiAvatar-root {
	margin-right: 10px;
	height: 30px;
	width: 30px;
	border: #3f51b5 solid 1px;
}

.post__nav__name {
	font-weight: 800;
}

.post__image {
	width: 100%;
	height: auto;
	background-color: transparent;
}

.post__content {
	margin: auto;
	width: calc(100% - 20px);
	padding: 10px 5px;
	text-align: left;
}

.post__stats,
.post__cta {
	width: calc(100% - 20px);
	padding: 5px 10px;
	display: flex;
	align-items: center;
}

.post__stats > span {
	display: flex;
	align-items: center;
}

.post__stats {
	margin: 10px auto;
}

.post__cta {
	margin: auto;
	width: calc(100% - 20px);
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.post__cta > button {
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 5px 10px;
	justify-content: center;
}

.post__stats__comments {
	margin-left: auto;
}

.add_comment {
	width: 100%;
}

.post__comments {
	width: calc(100% - 20px);
	overflow-y: scroll;
	height: fit-content;
	max-height: 200px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
